* {
    padding: 0;
    margin: 0;
}

.container {
    width: 900px;
    margin: 0 auto;
    background-color: rgb(182, 179, 179);
}

.title {
    padding: 15px 0;
    font-family: Arial,sans-serif;
    font-size: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

[class^="col-"] {
    height: 20px;
    background-color: black;
    margin: 0 10px;
    color: white;
    font-size: 10px;
    text-align: center;
}

.col-1 {
    width: calc(6/9*100%/16);
}

.col-2 {
    width: calc(6/9*100%/16*2 + 10px*2);
}

.col-3 {
    width: calc(6/9*100%/16*3 + 10px*4);
}

.col-4 {
    width: calc(6/9*100%/16*4 + 10px*6);
}

.col-5 {
    width: calc(6/9*100%/16*5 + 10px*8);
}
.col-6 {
    width: calc(6/9*100%/16*6 + 10px*10);
}

.col-7 {
    width: calc(6/9*100%/16*7 + 10px*12);
}

.col-8 {
    width: calc(6/9*100%/16*8 + 10px*14);
}

.col-9 {
    width: calc(6/9*100%/16*9 + 10px*16);
}
.col-10 {
    width: calc(6/9*100%/16*10 + 10px*18);
}

.col-11 {
    width: calc(6/9*100%/16*11 + 10px*20);
}

.col-12 {
    width: calc(6/9*100%/16*12 + 10px*22);
}
.col-13 {
    width: calc(6/9*100%/16*13 + 10px*24);
}

.col-14 {
    width: calc(6/9*100%/16*14 + 10px*26);
}
.col-15 {
    width: calc(6/9*100%/16*15 + 10px*28);
}

.col-16 {
    width: calc(6/9*100%/16*16 + 10px*30);
}

.row-reverse {
    flex-direction: row-reverse;
}

.hidden {
    opacity: 0;
}

.col-3-grid1 {
    flex-grow: 1;
}
.col-3-grid2{
    flex-grow: 2;
}
.col-5-grid1{
    flex-grow: 1;
}
.col-5-grid2{
    flex-grow: 2;
}
.col-5-grid3{
    flex-grow: 3;
}
.col-5-grid4{
    flex-grow: 4;
}